body{
    background-color:rgb(178, 240, 221);
    margin: 0px;
    background-image: url('https://media.istockphoto.com/photos/code-programming-for-website-editors-view-picture-id1290492381');
   background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;

 /*border-width: 1;*/
}
input{
   border-style: ridge;
    border-color:rgb(5, 128, 111);
    background-color:rgb(178, 240, 221) ;
    border-radius: 10px;
}
input:hover{
    border-color:aquamarine;
   
}
.front{
    position: absolute;
    
}
.mai{
    background-color:rgb(150, 233, 208);
    color: black;
    height: 100px;
    
}
h2{
    color: rgb(5, 128, 111);
    display: inline;
    font-family: 'Festive', cursive;
font-family: 'Permanent Marker', cursive;
}
.up{
    margin: 0px;
    height:200px;
    
     
    
}
.mid{
    margin: 0px;
    height:200px;

   
   
    
}
.down{
   
    
  
    /*background-color: rgb(186, 204, 20);*/
    
}
.but{
    background-color: gold;
    border-style:none ;
    


}



.bot{
    background-color: 1DB9C3;
    height: 250px;
}
.new{
    border-style:none ;
    background-color: 1DB9C3;
     position: absolute;
    right: 10px;
}
hr{
    height: 0px;
    border-style: dotted none none;
    border-width: 4px;
   width:20%;
    color: rgb(10, 167, 167);
}
.git{
    width:30px;
}